.wrapper {
    margin: 30px 5%;

    & p {
        margin-bottom: 0;
        font-weight: 800;
        font-size: 35px;
        color: var(--primary-color);
        & span {
            margin-left: 10px;
            font-size: 30px;
            color: black;
        }
    }
}

.charts-container {
    display: flex;
    align-items: center;
}

.detail {
    max-height: 600px;
    overflow-y: scroll;
}
